# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Sugar's DIY Days
# email: your-email@example.com
description: 3Dプリンター、料理、家具作りなどものづくりの日々
baseurl: ""
url: "https://ayakasato.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
og_image: /assets/images/og_image.jpg
permalink: /:year/:month/:day/:title

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - "*.code-workspace"
  - README.md

sass:
  sass_dir: _sass

category_mapping:
  cooking: 料理
  3dprinter: 3Dプリンター
  furniture: 家具
  outdoor: アウトドア
  electronics: 電子工作
  housekeeping: 家事
  others: その他
