---
layout: home
title: Sugar's DIY Days
permalink: /blog
---
<div id="kasou_contents">
  <h1 class="blog_title">Sugar's DIY Days</h1>
  {% for post in site.posts %}
  <div>
    <div class="post-info">
      <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</p>
      <div class="post-tags">
        {% for tag in post.tags %}
        <a href="/tag/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </div>
  {% endfor %}
  </div>
