<div class="social">
  <div class="social_button twitter_button">
    <a href="https://twitter.com/share" class="twitter-share-buttoon" data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-text="{{ page.title }}" data-count="vertical">Tweet</a>
    <script>widgetoon_main();</script>
  </div>

  <div class="social_button">
    <div class="fb-share-button" data-layout="box_count"></div>
  </div>

  <div class="social_button">
  <a class="hatena-bookmark-button" data-hatena-bookmark-layout="vertical-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </div>

  <div class="social_button">
  <a data-pocket-label="pocket" data-pocket-count="vertical" class="pocket-btn" data-lang="en"></a>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
  </div>
</div>
  