$site-width: 1050px;
$side-padding: 40px;
$side-bar-width: 350px;
$content-width: calc(100% - #{$side-bar-width} - 40px);
$breakpoint: 1020px;
$breakpoint-sp: 600px;
$font-color: #333;
$font-color-light: #666;
$gray-color: #999;
$link-color: #0088a8;
$side-title-bg-color: #f3f4f5;
$border-color: #ccc;
$border-thick-color: #0088a8;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

body {
  border-top: 6px solid #0088a8;
  margin: 0;
  font-size: 16px;
  line-height: 36px;
  font-family: "Helvetica Neue",Helvetica,Arial, YuGothic, 'Yu Gothic', 游ゴシック体, '游ゴシック', "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ", Meiryo,"MS ゴシック","MS Gothic",sans-serif;//"游ゴシック体", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif;
  color: $font-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  border-left: 8px solid $border-thick-color;
  padding: 5px 10px;
  margin-top: 40px;
}

h3 {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
}

.container {
  max-width: calc(#{$site-width} + #{$side-padding} * 2);
  margin: 0 auto;
  padding: 0 $side-padding;
}

.header-in {
  padding: 20px 0 25px;
  text-align: center;
}

.tagline {
  margin: 10px 0 20px;
  font-size: 16px;
  color: $font-color-light;
}

.navi-area {
  margin-left: auto;
}

.navi-link {
  color: $link-color;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
}

.navi-link:first-child {
  margin-left: 0;
}

.content-in {
  display: flex;

  @include media-query($breakpoint) {
    display: block;
  }
}

main {
  width: $content-width;

  img {
    max-width: 100%;
  }

  @include media-query($breakpoint) {
    width: 100%;
    margin-bottom: 40px;
  }
}

$side-box-side-margin: 10px;

.side-bar {
  width: $side-bar-width;
  margin-left: auto;
  line-height: 24px;

  @include media-query($breakpoint) {
    width: 100%;
  }
}

.side-box-title {
  background: $side-title-bg-color;
  padding: 16px $side-box-side-margin;
}

.side-box-content {
  padding: 10px 0 40px;
}

.side-box-li {
  &:hover {
    background: $side-title-bg-color;
  }
}

.side-box-link {
  display: block;
  color: $font-color;
  text-decoration: none;
  padding: 4px 6px;
}

.footer-in {
  padding: 40px 0 20px;
}

.copyright {
  text-align: center;
}

.blog .post-ul {
  list-style: none;
  padding: 0;
}

.blog .post-li {
  margin-bottom: 20px;
  list-style: none;

  @include media-query($breakpoint) {
    width: 100%;
  }
}

.post-li-link {
  display: flex;
  color: $font-color;
  text-decoration: none;

  &:hover {
    background: $side-title-bg-color;
  }

  @include media-query($breakpoint-sp) {
    display: block;
  }
}

$post-li-image-width: 320px;
$post-li-image-margin: 24px;
$post-li-sp-left-width: 38%;

.post-li-left {
  width: $post-li-image-width;
  margin-right: $post-li-image-margin;

  @include media-query($breakpoint) {
    width: $post-li-sp-left-width;
  }

  @include media-query($breakpoint-sp) {
    width: 100%;
  }
}

.post-li-right {
  width: calc(100% - #{$post-li-image-width} - #{$post-li-image-margin});

  @include media-query($breakpoint) {
    width: calc(100% - #{$post-li-sp-left-width});
  }

  @include media-query($breakpoint-sp) {
    width: 100%;
  }
}

.post-li-image {
  width: $post-li-image-width;
  object-fit: cover;

  @include media-query($breakpoint-sp) {
    width: 100%;
  }
}

.post-li-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-li-date {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  margin-top: 20px;
  color: $gray-color;
}

.post-li-summary {
  font-size: 14px;
  line-height: 25px;
  overflow-wrap: break-word;
}

// 個別ページ

.post-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.post-date {
  text-align: right;
  font-size: 14px;
  color: $font-color-light;
  margin-bottom: 20px;
}

.blog {
  ul {
    padding-left: 40px;
    list-style: disc;

    li {
      list-style: disc;
    }
  }
}

.social {
  display: flex;
}

.social_button {
  margin-right: 5px;
}

.page {
  width: 700px;
  margin: 0 auto;

  @include media-query(700px) {
    width: 100%;
  }
}

.profile-top {
  display: flex;
  flex-wrap: wrap;
}

.profile-image {
  margin-right: 20px;
}

.profile-content {
  font-size: 13px;
  line-height: normal;
  display: flex;
}

.profile-link {
  color: skyblue;
  text-decoration: none;
}

.projects-item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 0 20px;
}

.projects-image {
  width: 250px;
  margin-right: 20px;
}

.projects-text {
  max-width: 390px;
}
