
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="shortcut icon" href="ayakalogo.ico">
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="Keywords" content="" />
<meta name="Description" content="" />

<title>{{ page.title }}</title>

<link href="/assets/css/styles.css" rel="stylesheet" type="text/css" />

<!-- Google Analysisここから -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27957017-1']);
  _gaq.push(['_setDomainName', 'ayakasato.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analysisここまで -->

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1036855785305336",
    enable_page_level_ads: true
  });
</script>

</head>

<body>
<div id="pagebody">

<div id="header">
<!--トップページ画像↓******************************** -->
<img src="/assets/images/banner_lb.png" alt="" width="816" height="184" />
<!--トップページ画像↑******************************** -->
</div>

<!--ナビゲーションここから******************************** -->
<div id="menu">
<ul>
<li class="left"><a href="index.html"><b><font color=#444444>HOME</font></b></a></li>
<li><a href="/profile.html">PROFILE</a></li>
<li><a href="/projects.html">PROJECTS</a></li>
<li><a href="/publications.html">PUBLICATIONS</a></li>
<li><a href="/blog" target="_blank">BLOG</a></li>
</ul>
</div>
<!--ナビゲーションここまで******************************** -->

<br clear="all" class="clear" />

<div id="wrapper">
{{ content }}
</div>



<br clear="all" />


<div id="copyright">

Copyright（c）Ayaka Sato All rights reserved.
</div>

</div>

</body>
</html>
