---
layout: default
---
<main>
  <div class="blog">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date">{{ page.date | date: "%Y-%m-%d" }}</div>
    {{ content }}
    {% include social.html %}
  </div>
</main>

<div class="side-bar">
  <aside class="side-box">
    <h3 class="side-box-title">しゅがーのプロフィール</h3>
    <div class="side-box-content">
      <div class="profile-content">
        <img src="/assets/images/ayakasato_presentation.jpg" width="120" class="profile-image">
        博士（学際情報学）。2009年度未踏ユースクリエータ。2019年度未踏ジュニアPM。趣味は家具作り、3Dプリンティング、アクセサリー作りなどのDIY全般。
        <br>
        <a href="/profile" class="profile-link">詳細プロフィール・お問い合わせ</a>
      </div>
    </div>
  </aside>
  <aside class="side-box">
    <h3 class="side-box-title">最近の投稿</h3>
    <div class="side-box-content">
      <ul class="side-box-ul">
        {% for post in site.posts limit:5 %}
        <li class="side-box-li">
          <a class="side-box-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </aside>
  <aside class="side-box">
    <h3 class="side-box-title">カテゴリ</h3>
    <div class="side-box-content">
      <ul class="side-box-ul">
        {% for category in site.categories %}
        <li class="side-box-li">
          <a class="side-box-link" href="/category/{{ category | first | url_encode }}">{{ category | first }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </aside>
</div>
